<div id = "child_position_box">
    <div class = "child_position_title">{{position.in_section.in_course.num}}-{{position.in_section.section_num}} : {{position.in_section.in_course.title}} </div>

    <div class = "child_position_column">
        <div class = "child_position_text">  
            Instructor: {{position.get_instructor_firstname()}} {{position.get_instructor_lastname()}} <br>
            WPI ID: {{position.get_instructor_wpi_id()}} <br>
            Email: {{position.get_instructor_email()}} <br>
            Phone Number: {{position.get_instructor_phone()}} <br>
        </div>

        <div class = "child_position_text" > 
            Term: {{position.in_section.term}} <br>
            Max SA Position: {{position.max_SA}} <br>
            Current SA numbers: {{position.curr_SA}} <br>
            Posted on: {{moment(position.posted_on).format('LLL')}} <br>
        </div>
    </div>

    </br>
    
    <div class = "child_position_column">
        <div style="width: 80%">
            <b>Qualifications:</b> min 
            <strong>{{position.get_min_gpa()}}</strong> GPA, min 
            <strong>
                {% if position.get_min_grade() == '1' %}
                    C
                {% elif position.get_min_grade() == '2' %}
                    B
                {% elif position.get_min_grade() == '3' %}
                    A
                {% else %}
                    error
                {% endif %}
            </strong> Grade
            {% if position.prev_sa_exp %}
                , requires previous SA experience
            {%- endif %}
        </div>
        <div style="width: 20%; display: flex; justify-content: flex-end">
            <div style="display: flex; align-items: center; gap: 10px;"> 
                {% if position.check_apply_status(current_user.id) %}
                    <div style="display: flex; align-items: center; gap: 10px;"> 
                        {% if position.curr_SA == position.max_SA %}
                            <div class="application_status" style="background-color: red; padding: 17px 10px;">Rejected</div>
                        {% elif position.get_apply_status(current_user.id) == 'Pending' %}
                            <div class="application_status" style="background-color: rgb(92, 168, 255); padding: 17px 10px;">Pending</div>
                            <div class="apply_button_disabled" style="padding: 5px 10px;">Already Applied!</div>
                            <a class="application_status" style="background-color: red; padding: 17px 10px;" href="{{ url_for('main.student.withdraw', position_id=position.id) }}">Withdraw</a>
                        {% elif position.get_apply_status(current_user.id) == 'Assigned' %}
                            <div class="application_status" style="background-color: rgb(57, 203, 27); padding: 17px 10px;">Accepted</div>
                            <div class="apply_button_disabled" style="padding: 5px 10px;">Already Applied!</div>
            
                        {% endif %}
                    </div>
                {% else %}
                    <a class="apply_button" style="padding: 5px 10px;" href="{{ url_for('main.student.apply', position_id=position.id, position=position) }}">Apply Position</a>
                {% endif %}
            </div>
        </div>        
    </div>
</div>