body {
    font-family: Tahoma;
    text-align: left;
    margin: 0;
    padding: 0;
}

.nav-container {
    background:#f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}
a:hover {
	color:#2387D9;
}

.auth_btn {
    background-color: #fe6c6d;
    color: #282828;
    border: none;
    border-radius: 10px; 
    width: 45%; 
    text-align: center;
}

.auth_btn:hover {
    background-color: #CC3A3B;
    color: #0A0A0A;
}

.useritem{
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: crimson; 
    text-transform: uppercase;
}


.flash-container {
    background-color: lightskyblue;
    font-size: 16px;
    padding: 25px;
    margin: 10px 15px 10px 0px;
    border-radius: 10px;

}


.parent_section_box {
    vertical-align: middle;
    background-color: lightskyblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.parent_section_box_top {
    text-align: center;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: darkblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.child_section_box {
    display: flex;
    margin: 5px 0px 5px 0px;
    background-color: white;
    border-radius: 10px;
    padding: 10px
}

.child_section_title {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
}

.child_section_text {
    text-align: left;
    font-family: Tahoma;
    font-size: 16px;
}
