<div class="child_section_container">
  <table id="child_section_box">
    <tr>
      <td class="child_section_title">
        {{position.in_section.in_course.num}}-{{position.in_section.section_num}}
        : {{position.in_section.in_course.title}}
      </td>
    </tr>
    <tr>
      <td class="child_section_text">Term: {{position.in_section.term}}</td>
    </tr>
    <tr>
      <td class="child_section_text">Max SA Position: {{position.max_SA}}</td>
    </tr>
    <tr>
      <td class="child_section_text">
        Qualifications: min {{position.min_GPA}} GPA, min {{position.min_Grade}}
        Grade {% if position.prev_sa_exp %}, requires previous SA experience{%-
        endif %}
      </td>
    </tr>
    <tr>
      <td class="child_section_text">
        Posted on: {{moment(position.posted_on).format('LLL')}}
      </td>
    </tr>
    <tr>
      <td>
        <div class="applicant-container">
          {% for application in
          current_user.get_applications_by_position(position.id) %}
          <div class="applicant-box">
            <a
              href="{{ url_for('main.instructor.view_profile', student_id=application.applicant.id) }}"
            >
              <button
                class="btn"
                style="
                  margin-right: 10px;
                  background-color: white;
                  color: black;
                  padding: 5px;
                  border: 1px solid darkblue;
                  border-radius: 5px;
                  padding: 5px;
                "
              >
                {{ application.applicant.first_name }} {{
                application.applicant.last_name }}
              </button>
            </a>
            {% if application.applicant.sa_pos_id == position.id %}
            <p style="margin: 0">Assigned</p>
            {% elif application.applicant.sa_pos_id != None %}
            <p style="margin: 0">Already assigned to another section</p>
            {%else%}

            <p style="margin: 0">{{ application.status }}</p>
            {% if application.status == 'Pending' %}
            <form
              action="{{ url_for('main.instructor.assign', position_id=position.id,student_id=application.applicant.id) }}"
              method="post"
            >
              <input id= "sele-assign" type="submit" value="Assign" class="btn btn-danger" />
            </form>
            {% endif %} {% endif %}
          </div>

          {% endfor %}
        </div>
      </td>
    </tr>
  </table>
</div>
