{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

    <div>
        <div>
            <h1>Welcome to Student Assistant Portal!</h1>
            <h4>Dashboard</h4>
        </div>
        
        <div class="parent_section_box_top">
            Section Listing
        </div>
        <div class="parent_section_box">
            {% for section in sections %}
                {% include '_section.html' %} 
            {% endfor %}
        </div>

        <br>
        
        <div class="parent_section_box_top">
            Position Listing
        </div>
        <div class="parent_section_box">
            {% for position in positions %}
                {% include '_position.html' %} 
            {% endfor %}
        </div>
    </div>

  
{% endblock %}