{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}

    <div>
        <div>
            <h4>Student Profile</h4>
        </div>
        
        <div class="parent_profile_box">
            <div class = "child_position_column">
                <div class = "child_profile_text">  
                    <b>Name:</b> {{student.first_name}} {{student.last_name}} <br>
                    <b>WPI ID:</b> {{student.wpi_id}} <br>
                    <b>Email:</b> {{student.email}} <br>
                    <b>Phone Number:</b> {{student.phone}} <br>
                </div>
        
                <div class = "child_profile_text" > 
                    <b>Cumulative GPA:</b> {{student.gpa}} <br>
                    <b>Major:</b> {{student.major}} <br>
                    <b>Graduation Date:</b> {{student.grad_date}} <br>
                    <b>Currently SA in:</b> {% if student.sa_pos_id %} {{student.get_sa_section_string()}} {% else %} None {% endif %}<br>
                </div>
            </div>
        </div>

        </br>

        <div class="parent_profile_box">
            <table class = "profiletable">
                <thead>
                    <tr>
                      <th width="15%">Course</th>
                      <th width="40%">Title</th>
                      <th width="15%">Grade Earned</th>
                      <th width="15%">Year Took</th>
                      <th width="15%">SA before</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for e in student.get_prev_enrolled() %}
                        {% set course = e.get_course() %}
                        {% include '_past_enroll.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <hr class="solid">

        <a href = "{{url_for('main.index')}}" class = "apply_button"> Return to main page! </a>
        
    </div>

  
{% endblock %}