{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}


{% block content %}
    <h1>Sign In</h1>
    <!-- TODO: (milestone 3) Include the login form here...  -->
    <form action="{{url_for('auth.login')}}" method="POST">
        {{form.hidden_tag()}}
       
        {{wtf.form_field(form.username)}}
        {% for error in form.username.errors %}
            <span style = "color: red"> [{{error}}] </span>
        {% endfor %}

        {{wtf.form_field(form.password)}}
        {% for error in form.password.errors %}
            <span style = "color: red"> [{{error}}] </span>
        {% endfor %}

        {{wtf.form_field(form.remember_me)}}

        {{wtf.form_field(form.submit)}}
    </form>
    <!-- TODO: (milestone 3) Add the URL for user register route. --> 
    <p>New User? <a href="{{url_for('auth.register')}}">Click to Register!</a></p>
{% endblock %}

